@import url(https://fonts.googleapis.com/css2?family=Varela&display=swap);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Varela', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #000;
    /* background: url('https://source.unsplash.com/1920x1280/?nature') no-repeat; */
    background-size: cover;
    background-attachment: fixed;
}
h5{
    font-family: 'Varela', sans-serif;
    font-size: 36px;
    font-weight: bold;
}
.card {
    width: 340px;
    background: transparent;
    border: none;
    border-radius: 14px;
    box-shadow: 0px 0px 15px 5px #fff;
}
img{
    width: 220px !important;
}
@media screen and (min-width: 1400px){
    .card {
        width: 400px
    }
    img{
        width: 300px !important;
    }
}